useDynLib("pdInfoBuilder")

import("methods")
import("Biobase")

exportClasses(
              "PkgSeed",
              "PDInfoPkgSeed",
              "AffyExpressionPDInfoPkgSeed",
              "AffySNPPDInfoPkgSeed",
              "AffySNPCNVPDInfoPkgSeed",
              "NgsPDInfoPkgSeed",
              "NgsExpressionPDInfoPkgSeed",
              "NgsTilingPDInfoPkgSeed"
              )

exportMethods(
              "chipName",
              "makePdInfoPackage",
              "initialize"
              )
