useDynLib("pdInfoBuilder")

import("methods")
import("Biobase")

importFrom("Biostrings", "DNAStringSet")
importFrom("S4Vectors", "DataFrame")

exportClasses(
              "AffyExpressionPDInfoPkgSeed",
              "AffyTilingPDInfoPkgSeed",
              "AffySNPPDInfoPkgSeed",
              "AffySNPPDInfoPkgSeed2",
              "AffySNPCNVPDInfoPkgSeed",
              "AffySNPCNVPDInfoPkgSeed2",
              "AffyExonPDInfoPkgSeed",
              "AffyGenePDInfoPkgSeed",
              "NgsExpressionPDInfoPkgSeed",
              "NgsTilingPDInfoPkgSeed"
              )

exportMethods(
              "chipName",
              "getGeometry",
              "makePdInfoPackage"
              )
