useDynLib("pdInfoBuilder")

import("methods")
import("Biobase")

importFrom("Biostrings", "DNAStringSet")
importFrom("IRanges", "XDataFrame")

exportClasses(
##              "PkgSeed",
##              "PDInfoPkgSeed",
              "AffyExpressionPDInfoPkgSeed",
              "AffyTilingPDInfoPkgSeed",
              "AffySNPPDInfoPkgSeed",
              "AffySNPCNVPDInfoPkgSeed",
##              "AffySTPDInfoPkgSeed",
              "AffyExonPDInfoPkgSeed",
              "AffyGenePDInfoPkgSeed",
##              "NgsPDInfoPkgSeed",
              "NgsExpressionPDInfoPkgSeed",
              "NgsTilingPDInfoPkgSeed"
##               ,
##              "ExonTranscriptionPDInfoPkgSeed",
##              "NgsTiledRegionPDInfoPkgSeed"
              )

exportMethods(
              "chipName",
              "getGeometry",
              "makePdInfoPackage"
              )
